@import './base/reset';
@import './utils/mixins';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {
    color: white;
}

body {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;

    .App {

        .wrapperLanding {
            width: 100%;
            height: 100%;
            background: url('../images/horizonte.jpg');
            background-size: cover;
            background-position: bottom;

            @include forPc{
                width: 100vw;
                height: 100vh;
            }

            .backgroundFilter {
                width: 100vw;
                height: 100vh;
                background-color: #80808063;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                @include forPc {
                    flex-direction: row;
                    justify-content: center;
                }

                header {

                    color: white;

                    .logo {
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        font-size: 12px;
                        cursor: pointer;

                        @include forTablet {
                            font-size: 18px;
                            top: 27px;
                            left: 27px;
                        }

                    }

                    .menu {
                        position: absolute;
                        top: 20px;
                        right: 15px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        font-size: 12px;
                        padding-right: 5px;
                        border-right: 1px solid white;

                        @include forTablet {
                            top: 27px;
                            right: 27px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                            border-right: none;

                        }

                        .video {
                            cursor: pointer;
                            padding-bottom: 9px;

                            @include forTablet {
                                padding-right: 20px;
                                border-right: 1px solid white;
                                padding-bottom: 0px;
                            }

                            i {
                                color: white;
                                padding-left: 5px;
                                font-size: 12px;

                                @include forTablet {
                                    font-size: 15px;
                                }
                            }

                        }

                        .characters {
                            cursor: pointer;

                            @include forTablet {
                                padding-left: 20px;
                            }
                        }

                    }
                }


                .title_Container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: white;
                    letter-spacing: 2px;
                    text-align: center;
                    padding-bottom: 40px;

                    @include forTablet {
                        padding-bottom: 0;
                    }

                    h1 {
                        margin: 0;
                        font-size: 16px;
                        font-weight: 400;
                        padding-bottom: 20px;

                        @include forTablet {
                            font-size: 40px;
                        }
                    }

                    .button {
                        font-size: 13px;
                        border: 1px solid white;
                        padding: 8px;
                        font-weight: 300;
                        cursor: pointer;

                        &:hover {
                            transform: scale(1.1);
                        }

                        @include forTablet {
                            font-size: 20px;
                            padding: 10px;
                            font-weight: 400;
                            border: 2px solid white;
                        }
                    }
                }

                .iconsRRSS {
                    color: white;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 20px;

                    @include forPc {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: 8px;
                        height: 100%;
                        bottom: 10px;
                    }

                    i {
                        font-size: 20px;
                        padding: 0 12px 0 12px;
                        opacity: 0.8;
                        cursor: pointer;

                        @include forPc {
                            font-size: 28px;
                            padding: 12px;
                            opacity: 0.7;
                        }
                    }
                }

            }
        }

        .wrapperTest {
            width: 100vw;
            height: 100vh;
            @supports (-webkit-appearance:none) {
                .os-android & {
                    height: calc(100vh - 56px);
                }
            }

            .container_A {
                cursor: pointer;
                height: 50%;
                background: url('../images/c_king.jpg');
                background-size: cover;
                background-position: bottom;
                opacity: 0.6;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    opacity: 1;
                }
            }



            .container_B {
                cursor: pointer;
                height: 50%;
                background: url('../images/beach.jpg');
                background-size: cover;
                background-position: center;
                opacity: 0.6;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    opacity: 1;
                }
            }

            .text {
                color: grey;
                font-size: 17px;
                font-weight: 600;
                background-color: white;
                padding: 6px;

                @include forPc {
                    font-size: 25px;
                    padding: 6px;
                }
            }

            .A {
                position: absolute;
                top: 25%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }

            .B {
                position: absolute;
                top: 75%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }

            .questionContainer {
                width: 80%;
                height: 50px;
                border-radius: 5rem;
                background-color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;

                @include forPc {
                    height: 60px;
                }


                .question {
                    color: grey;
                    font-size: 17px;

                    @include forPc {
                        font-size: 25px;
                    }

                }

            }

            .home {
                position: absolute;
                top: 20px;
                left: 20px;
                color: white;
                font-size: 25px;

                &:hover{
                    transform: scale(1.2);
                }
            }

        }

    }
}